<h1>New Blog Post</h1>
<a [routerLink]="['/admin', 'dashboard']" class="btn btn-primary text-white">Back to Dashboard</a>
<form (submit)="createBlogPost()">
	<input name="title_ar" class="form-control" placeholder="Title (Arabic)" [(ngModel)]="doc.title.ar_AE">
	<input name="title_en" class="form-control" placeholder="Title (English)" [(ngModel)]="doc.title.en_AE">

	<textarea name="content_ar" class="form-control" placeholder="Content (Arabic)"
		[(ngModel)]="doc.content.ar_AE"></textarea>
	<textarea name="content_en" class="form-control" placeholder="Content (English)"
		[(ngModel)]="doc.content.en_AE"></textarea>

	<button type="submit" class="btn btn-primary" [disabled]="msg.type == 'success'">Submit</button>

	<div *ngIf="msg.type == 'success'" class="alert alert-success">
		{{ msg.content }}
	</div>
	<div *ngIf="msg.type == 'fail'" class="alert alert-warning">
		{{ msg.content }}
	</div>
</form>